/*
 * @Author: mikey.zhaopeng 
 * @Date: 2017-06-30 11:12:25 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2017-08-23 21:59:21
 */
 /*通用头部导航*/
.header .logo{
    position: absolute;
    top: 21px;
    display: flex;
    font-size: 48px;
    color: #c60023;
    font-weight: bold;
    text-decoration: none;
}

.header .search-con{
    padding:40px 0 30px 250px;
}

.header .search-con .search-input{
    width: 550px;
    height:40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #c60023;
    outline: none;
}

.header .search-con .search-btn{
        position: absolute;
        height: 44px;
        width:80px;
}

/*面包屑导航*/
.crumb{
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #888;
    font-size: 14px;
    border-top: 2px solid #c60023;
}

.favicon{
    width: 72px;
    height: 72px;
    display: inline-block;
    background: url('../../../image/icon/favicon.png') no-repeat;
    background-size: contain;
    display: inline-block;
}
.web-name{
    display: inline-block;
    position: relative;
    transform: translate(0,0%);
    top: 50%;
}