/*
 * @Author: mikey.zhaopeng 
 * @Date: 2017-06-29 13:53:16 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2017-07-04 17:25:36
 */

.nav-simple{
    height:60px;
    line-height:60px;
    border-bottom:1px solid #ddd;
    background: #fff;
}

.nav-simple .logo{
    font-size: 26px;
    font-weight:bold;
    color:#c60023;
    text-decoration: none;
}