/*
 * @Author: Yoko 
 * @Date: 2017-06-27 21:16:37 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2017-08-24 11:27:35
 */
.full-screen{
    width: 100%;
    position: relative;
    display: inline-block;
}
/*keyworda-list*/
.keywords-list{
    float: left;
    width: 240px;
    height: 480px;
    padding: 10px 0;
    margin-right: 10px;
    background: #666;
    color: #fff;
    position: absolute;
    z-index: 10;
}

.keywords-list .keywords-item{
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
}
.keywords-list .keywords-item:hover{
    background: #999;
}
.keywords-list .keywords-item .link{
    color: #fff;
    margin-right: 6px;
}

.keywords-list .keywords-item .link:hover{
    color: #c60023;
}
/*banner-con*/
.banner{
    width:100% !important;
}
.main-banner{
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
}
.banner-con{
    width: 100%;
    float: left;
    height: 500px;
    background:#eee;
}
.banner-con .loading{
    margin-top: 150px;
}
.banner-img{
    width: 100%;
    height: 500px;
}
/*引导的小圆点*/
.banner .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
        text-align: center;
	}
.banner .dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;

    text-indent: -999em;

    border: 2px solid #fff;
    border-radius: 6px;

    cursor: pointer;
    opacity: .4;

    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}
.banner .dots li.active {
    background: #fff;
    opacity: 1;
}
/*banner的前一张和后一张按钮*/
.banner-con .banner-arrow{
    position: absolute;
    top: 160px;
    width: 30px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: #ccc;
    background: rgb(0, 0, 0,0.2);
    cursor: pointer;
}
.banner-con .banner-arrow:hover{
    background: #aaa;
    background: rgb(0, 0, 0,0.5);
}
.banner-con .banner-arrow.prev{
    left: 0;
}
.banner-con .banner-arrow.next{
    right: 0;
}
/*floor*/
.floor-wrap .floor-title{
    height:50px;
    line-height: 50px;
    color: #d58717;
    font-weight: normal;
    font-size: 20px;
    border-bottom: 1px solid #d58717;
}
.color-mark{
    display: inline-block;
    width: 5px;
    height: 20px;
    vertical-align: top;
    position: relative;
    top: 50%;
    transform: translate(0%,-50%);
}
.color-type-orange{
    background-color:#d58717;
}
.color-type-green{
    background-color:#3b838c;
}
.color-type-red{
    background-color:#a93931;
}
.color-type-blue{
    background-color:#488bad;
}
.color-type-deepred{
    background-color:#642663;
}
/*更改各楼层标题颜色*/
.floor-wrap:nth-child(2) .floor-title{
    color: #3b838c;
    border-bottom: 1px solid #3b838c;
}

.floor-wrap:nth-child(3) .floor-title{
    color: #a93931;
    border-bottom: 1px solid #a93931;
}
.floor-wrap:nth-child(4) .floor-title{
    color: #488bad;
    border-bottom: 1px solid #488bad;
}
.floor-wrap:nth-child(5) .floor-title{
    color: #642663;
    border-bottom: 1px solid #642663;
}

.floor-wrap .floor-list{
    margin-right: -20px;
    overflow: hidden;
}

.floor-wrap .floor-list .floor-item{
    position: relative;
    width: 200px;
    height: 220px;
    margin: 15px 20px 15px 0;
    float: left;
    cursor: pointer;
    background: #fff;
}
.floor-wrap .floor-list .floor-item:hover{
    box-shadow: 1px 1px 7 #ddd;
}

.floor-wrap .floor-list .floor-item .floor-text{
    position: absolute;
    top:12px;
    left: 20px;
    font-size: 16px;
    color: #555;
}

.floor-wrap .floor-list .floor-item .floor-img{
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 80%;
    height: 75%;
    border: none;
}
.floor-wrap .floor-list .floor-item .floor-img：hover{
    -o-transition: right .3s;
    -moz-transition: right .3s;
    -webkit-transition: right .3s;
    -ms-transition: right .3s;
    transition: right .3s;
}